@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    font-family: aeonik;
    src: url(../public/fonts/aeonik.otf);
}

@font-face {
    font-family: aeonik;
    src: url(../public/fonts/aeonik-bold.otf);
    font-weight: bold;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'aeonik', sans-serif;
    background: #101322;
    color: white;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.logo {
    background: url(../public/images/logo.png) no-repeat;
    width: 220px;
    height: 70px;
    font-size: 28pt;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.logo i {
    color: #a6c8ff;
    padding-right: 7px;
}

.search {
    flex: 1;
    display: flex;
    padding: 0 50px;
}

.search input[type=text] {
    background: none;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    outline: none;
    color: #b6bddf;
    padding: 10px 20px;
    font-size: 15pt;
    flex: 1;
    background: #1b2037;
    border-radius: 7px;
    box-shadow: 0 2px 2px #0d0f1a;
    border: 1px solid #ffffff0a;
}

.search input[type=text]:focus,
.searchinput.active {
    background: #343c5b !important;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.search input[type=text]::placeholder {
    color: #5f6688;
    opacity: 1;
}


.search button {
    background: none;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    margin: 0 10px;
}

.userheader img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 7px;
    outline: 5px solid #0a0c1a;
    transition: outline 0.1s linear;
    position: relative;
    cursor: pointer;
}

.userheader h2 {
    font-weight: bold;
    font-size: 14pt;
    padding: 10px 0 0 10px;
}

.userheader img:hover {
    outline: 10px solid #0a0c1a;
}

.userheader img:active {
    outline: 0px solid #0a0c1a;
}

.menu {
    width: 150px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
}

.menu li:active {
    opacity: 0.9;
}

.menu li {
    list-style: none;
    color: #9a9da2;
    width: 100px;
    text-align: center;
    margin: 50px auto;
    padding: 5px 0 10px;
    cursor: pointer;
    border: 1px solid #101322;
    transition: all 0.1s linear;
    border-radius: 20px;
    user-select: none;
}

.menu li.active {
    background: linear-gradient(#1063e3, #4789ee);
    border: 1px solid #1063e3;
    color: white;
    box-shadow: 0 5px 7px #183f84;
}

.menu li:not(.active):hover {
    border: 1px solid #343c60;
    color: white;
}

.menu li i {
    font-size: 25pt;
}

.menu li div {
    font-size: 9pt;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.main {
    display: flex;
    flex: 1;
}

.page {
    background: #16192a;
    flex: 1;
    padding: 30px 40px;
    border: 1px solid #2b3151;
    border-bottom: none;
    border-right: none;
    width: calc(100% - 230px);
}

.page.withmenu {
    border-radius: 40px 0 0 0;
}

.page h1 {
    padding: 20px 0 0;
}

.article,
.stock,
.detailblock {
    display: flex;
    background: #222842;
    border-radius: 10px;
    padding: 25px;
    height: 100%;
    width: 100%;
}

.successrate {
    position: absolute;
    top: -50px;
    font-size: 50pt;
    font-weight: bold;
    text-shadow: 0 0 20px #5d6280;
    background: linear-gradient(#202437ab 0%, #fff0 70%);
    padding: 0px 20px 20px 30px;
    border-radius: 80px;
}

.topblock:nth-child(1) .successrate {
    font-size: 70pt;
    top: -70px;
}

.successrate div {
    font-size: 10pt;
    text-shadow: none;
    margin-top: -25px;
}

.topblock:nth-child(1) .successrate div {
    margin-top: -35px;
}

.topblock {
    transition: all 0.05s linear;
}

.topblock:nth-child(1) {
    order: 2;
}

.topblock:nth-child(1) .main-top {
    margin-left: -100px;
    width: calc(100% + 200px);
    z-index: 100;
    opacity: 1;
    /*background: #313751;*/
    background: linear-gradient(#242a42, #777ea0);
}

.topblock:nth-child(2) {
    transform: scale(0.9, 0.9);
    order: 1;
}

.topblock:nth-child(3) {
    transform: scale(0.9, 0.9);
    order: 3;
}

.main-top h2 {
    padding-top: 20px;
    font-weight: bold;
    font-size: 40pt;
}

.main-top img {
    padding-top: 30px;
}

.article {
    background: #1b1e31;
    box-shadow: 0 0 50px #0f1324;
    border-radius: 30px;
    flex-direction: column;
    padding: 10px;
}

.main-top {
    width: 80%;
    flex-direction: column;
    text-align: center;
    margin: auto;
    position: relative;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: all 0.1s linear;
    opacity: 0.8;
    border-radius: 30px;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 25px;
    background: #222842;
    box-shadow: 0 0 60px #0006;
}

.topblock:hover .main-top,
.main-top:hover {
    opacity: 1;

}

.top-row .row-column:nth-child(1) .stock.top-stock {
    background: linear-gradient(45deg, #222842, #caffbf);
}

.top-row .row-column:nth-child(2) .stock.top-stock {
    background: linear-gradient(45deg, #222842, #e67070);
}

.stock.top-stock .stock-price {
    text-shadow: 0 0 10px #737373;
    color: #fff;
}

.suggestion-row {
    display: flex;
    padding: 15px 20px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: background 0.1s linear;
}


.suggestion-row.active {
    background: #424a686e;
    border-left: 3px solid #495273;
}


.detailblock {
    flex-direction: column;
}

.stock {
    position: relative;
    border-bottom: 5px solid #1b2034;
    cursor: pointer;
    transition: border 0.1s linear;
}

.stock:hover {
    border-bottom: 5px solid #323853;
}

.article h2 {
    font-size: 18pt;
    color: white;
    font-weight: bold;
}

.page-button,
.userheader button,
.userbox button {
    background: #1063e3;
    border: none;
    outline: none;
    padding: 7px 25px;
    color: white;
    border-radius: 10px;
    font-size: 15pt;
    float: right;
    transition: background-color 0.1s linear;
}

.userbox button {
    float: none;
}

.userbox button i {
    padding-right: 5px;
}

.userbox button:hover {
    background: #3b7ddf;
}

.page-button:hover {
    background: #3b7ddf;
}

.userheader button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #1a1f33;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
    background: transparent;
    color: #b3cfff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.userheader button:hover {
    background: #1a1f33;
    box-shadow: 0 0 20px 5px #464f7996;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.userheader button:hover::before {
    -webkit-animation: sh02 0.3s 0s linear;
    -moz-animation: sh02 0.3s 0s linear;
    animation: sh02 0.3s 0s linear;
}

.userheader button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #8e9bd891;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.userheader button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}


.article button {
    border: none;
    outline: none;
    font-size: 12pt;
    padding: 5px 5px 5px 0;
    color: #b2bcf5;
    background: none;
    margin-top: 20px;
}

.article button:hover {
    text-decoration: underline;
}

.article button i {
    margin-left: 5px;
}

.article span {
    font-size: 10pt;
    color: #d5d9f2;
    font-family: sans-serif;
    flex: 1;
}

.article p {
    margin-top: 10px;
    flex: 1;
}

.stock-box .stock-info {
    text-align: right;
}

.stock-info span {
    padding: 2px 8px;
    font-size: 10pt;
    border-radius: 3px;
    margin-right: 3px;
}

.stock-info.negative span {
    background: #ea001b82;
}

.stock-info.positive span {
    background: #00ea254d;
}

.stock-data {
    display: flex;
    flex: 1;
    align-items: center;
}

.stock-title {
    flex: 1;
}

.stock-img {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stock-img img,
.main-top img {
    width: 64px;
    user-select: none;
}

.topblock-img {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.suggestion-row img {
    width: 32px;
}

.suggestion-row h2 {
    font-size: 1.5rem;
    margin: 0;
}

.suggestion-row .stock-price {
    font-size: 15pt;
}

.stock-price {
    color: #19e7fe;
    font-size: 20pt;
    font-weight: bold;
}

.stock-box .stock-price {
    font-size: 30pt;
}

.stock-option {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #ffffff00;
}

.stock-option.wait {
    cursor: wait;
}

.stock-option:hover {
    border: 1px solid #323853;
}

.stock-option:active {
    background: #323853;
}

.page .row {
    margin: 25px 0;
}

.expand-button {
    background: #10132282;
    border: none;
    outline: none;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    margin: auto;
    display: inline-block;
    text-decoration: none;
    transition: background 0.1s linear;
}

.expand-button:hover {
    background: #101322;
    text-decoration: none;
    color: white;
}

.expand-button:active {
    background: #0e1120;
}

.button-row {
    text-align: center;
    margin: 20px 0 30px;
}

#graph {
    background: #1b1e31;
    width: calc(100% + 80px);
    height: 430px;
    padding: 15px 0 5px;
    position: relative;
    user-select: none;
    left: -40px;
}

#stockpage-title {
    display: flex;
    align-items: center;
    padding: 15px 0 45px;
}

#stockpage-title h1 {
    padding: 0 25px 0 0;
    font-size: 50pt;
    margin: 0;
    font-weight: bold;
}

.graph-menu {
    text-align: right;
    display: flex;
}

.graph-menu ul {
    display: inline;
    cursor: default;
}

.graph-menu ul li {
    display: inline;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 10pt;
    border-bottom: 1px solid #ffffff00;
    transition: border 0.1s linear;
    margin: 0 2px;
}

.graph-menu ul li.active,
.graph-menu ul li:hover {
    border-bottom: 1px solid white;
}

#detailsrow {
    margin: 50px -15px 10px;
}

.detailblock#stockdetail {
    background: none;
    padding: 5px 15px 8px 0;
}

.detailblock table {
    width: 100%;
    height: 100%;
    margin: 15px 0;
    table-layout: fixed;
}

.detailblock table tr td {
    text-align: center;
    background: #242a46;
}

.detailblock table thead tr td {
    padding: 5px;
}

.detailblock table tbody tr td {
    padding: 10px;
}

.detailblock table thead tr td {
    background: #363d5c;
    font-size: 20pt;
    box-shadow: 0px 55px 60px black;
}



.comments {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #1c2137;
    padding: 0 10px;
    border-radius: 10px;
    margin-top: 10px;
    scrollbar-color: rebeccapurple green;
}

.loadmore {
    background: none;
    border: none;
    outline: none;
    color: #c6e7ff;
    font-size: 10pt;
    padding: 10px;
}

.loadmore:hover {
    text-decoration: underline;
}

.hide {
    display: none !important;
}

.comment {
    padding: 10px 15px;
    background: #1d2031ab;
    margin: 10px 0;
}

.commenthead {
    display: flex;
    align-items: center;
    cursor: default;
}

.commenthead span {
    font-size: 8pt;
    color: #cecece;
    letter-spacing: 0.4px;
    flex: 1;
}

.commenthead b {
    font-size: 12pt;
}

.comment p {
    margin: 0;
}

.new-comment {
    padding: 10px 0;
    width: 500px;
    display: flex;
}

.new-comment button {
    background: none;
    border: none;
    outline: none;
    color: white;
    margin-left: 10px;
    width: 24px;
}

.new-comment button:active {
    color: #d8d8d8;
}

.new-comment input[type=text] {
    background: #ffffffc4;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    flex: 1;
    border-bottom: 2px solid #ffffff00;
    transition: background 0.1s linear;
}

.new-comment input[type=text]:focus {
    background: white;
}

.stock-widget {
    margin: 10px 0;
    transition: margin 0.5s ease-in-out;
    height: 130px;
}

.frame2 {
    margin-left: -100%;
}

.frame3 {
    margin-left: -200%;
}

.frame4 {
    margin-left: -300%;
}

.stock-widget a,
.header a,
.topblock a {
    color: white;
    text-decoration: none;
}

.point,
#guidepoint {
    width: 10px;
    height: 10px;
    background: #ffffff45;
    border-radius: 100%;
    border: 1px solid #ffffff45;
    margin: -5px auto;
}

#guidepoint {
    margin-right: 5px;
}


.point-space:hover .point {
    width: 18px;
    height: 18px;
    margin-top: -10px;
}


.point-space {
    padding: 0;
    position: absolute;
    display: none;
    text-align: center;
    height: 400px;
}

.point-space:hover {
    background: #ffffff05;
}

.point-space.fall::after,
.point-space.raise::after {
    content: "\F279";
    font-family: "bootstrap-icons";
    margin-left: 2px;
    font-size: 15pt;
    background: radial-gradient(#3c3c3c 0%, #fff0 50%);
}

.point-space.raise::after {
    content: "\F27C";
}

.row.articles {
    margin: 10px 0 25px;
}

.articles .col-lg-4 {
    margin: 10px 0;
    padding: 5px 15px;
}

.graph-hint {
    flex: 1;
    font-size: 10pt;
    display: flex;
    align-items: center;
    user-select: none;
}

.graph-hint .hint {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.graph-hint i {
    margin-right: 5px;
    font-size: 16pt;
}

.graph-hint i.raise,
.point-space.raise::after,
#tooltip .raise {
    color: #c1ff3a;
}

#tooltip .raise,
#tooltip .fall {
    background: #16192a;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    display: block;
    margin: auto;
    text-align: center;
}

.graph-hint i.fall,
.point-space.fall::after,
#tooltip .fall {
    color: #ff9c9c;
}

.graph-hint span {
    padding-right: 20px;
}

#actual-line,
#predicted-line {
    width: 30px;
    height: 2px;
    margin: 0 5px;
}

#predicted-line {
    background: #fff6d3;
}

#actual-line {
    background: #53c4ee;
}

.search-suggestion {
    position: absolute;
    background: #363e5ecf;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    width: 100%;
    top: 45px;
    border-radius: 0 0 7px 7px;
    box-shadow: 5px 60px 50px #1c1f33;
    z-index: 900;
    overflow: hidden;
    border: 1px solid #ffffff0a;
    border-top: none;
}

.search-container {
    position: relative;
    display: flex;
    flex: 1;
}

.suggestions-showmore {
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    transition: background 0.1s linear;
}

.suggestions-showmore.active,
.suggestions-showmore:hover {
    background: #424a686e;
}

#sug-loading {
    height: 3px;
    background: linear-gradient(90deg, #333b59, #5d678a);
    padding: 0;
    width: 50%;
    animation: spin-loading 0.8s ease infinite;
}

@keyframes spin-loading {
    from {
        margin-left: -50%;
    }

    to {
        margin-left: 100%;
    }
}

#search-form {
    width: 100%;
    display: flex;
}

.stocks-title {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

.stocks-title h2 {
    font-weight: bold;
    font-size: 30pt;
}

.stocks-title .navbar,
.top-filters .pick {
    background-color: #16192a !important;
    padding: 0;
    margin: 0 0 0 15px;
    border-radius: 10px;
    border: 1px solid #444b716e;
    user-select: none;
}

.stocks-title .navbar a {
    user-select: none;
}

.stock-title .container {
    padding: 0 15px;
}

.top-filters .pick {
    padding: 10px 25px;
    cursor: pointer;
    margin: 0;
}

.top-filters .pick i {
    padding-right: 10px;
}

.top-filters .pick span::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    margin-left: 7px;
}

.stocks-title .navbar:hover,
.top-filters .pick:hover {
    background: #1d2137 !important;
}

#basic-nav-dropdown {
    color: white !important;
}

.stock-title .nav-link {
    color: white !important;
}

.modal-bg {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.modal-box {
    position: fixed;
    top: 15%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 501;
    width: 80%;
    background: white;
    padding: 25px;
    color: black;
    box-shadow: 0 0 30px black;
    border-radius: 20px;
}

.userheader i {
    padding-right: 10px;
    color: #b3cfff;
}

.profile-menu,
.dropdown-menu,
.widget-menu,
.filter-container .cat-menu {
    background: #0a0c1a;
    position: absolute;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 15px 30px black;
    z-index: 101;
}

.profile-menu,
.dropdown-menu,
.widget-menu {
    animation: show-menu 0.25s ease;
    animation-fill-mode: forwards;
    right: 30px;
    padding: 10px 15px;
}

.profile-menu {
    width: 200px;
}

.widget-menu {
    right: 10px;
}

.dropdown-menu {
    width: 300px;
}

.profile-menu ul,
.widget-menu ul,
.cat-menu ul {
    margin: 0;
    padding: 0;
}


.profile-menu ul li,
.widget-menu ul li,
.cat-menu ul li {
    list-style: none;
    text-align: left;
    padding: 15px;
    color: white;
    transition: color 0.2s ease;
    cursor: pointer;
}

.profile-menu ul li:hover,
.widget-menu ul li:hover,
.cat-menu ul li:hover,
.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.cat-menu label:hover,
.cat-menu label:hover .checkmark::after {
    color: #b3cfff;
    border-color: #b3cfff !important;
    background: none;
}

.profile-menu ul li i,
.widget-menu ul li i,
.cat-menu ul li i {
    margin-right: 5px;
}

@keyframes show-menu {
    from {
        margin-top: 20px;
        opacity: 0;
    }

    to {
        margin-top: 10px;
        opacity: 1;
    }
}

.loading {
    background: url(../public/images/loading.gif);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.comment-form {
    display: flex;
    flex: 1;
}

.tagname {
    font-size: 8pt;
    margin: 0 10px 0 5px;
    text-align: center;
    border-radius: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
    padding: 2px 7px;
}

.delete-comment {
    font-size: 12pt;
    cursor: pointer;
    color: #414662;
}

.delete-comment:active {
    color: #292d42;
}

.commenthead .loading {
    margin: 0;
}

.carousel {
    width: 100%;
    text-align: right;
    margin-top: 170px;
}

.carousel .row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: left;
    margin: 0;
}

.carousel .row::-webkit-scrollbar {
    display: none;
}

.arrow-left,
.arrow-right {
    background: #ffffffb3;
    width: 25px;
    height: 25px;
    color: black;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.1s linear;
    font-size: 10pt;
}


.arrow-left:hover,
.arrow-right:hover {
    background: #ffffffe5;
}

.control {
    display: flex;
    justify-content: right;
    width: 150px;
    align-items: center;
    float: right;
    margin-bottom: 10px;
}

.progress-container {
    width: 100%;
    background: #ffffff14;
    height: 6px;
    margin: 0 10px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #333;
    flex: 1;
}

.carousel-progress {
    background: #ffffffb3;
    width: 100%;
    height: 100%;
}

.startprogress {
    animation: progress-animation 3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}


@keyframes progress-animation {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.carousel-nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.carousel-nav li {
    list-style: none;
    background: #ffffffb3;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.carousel-nav li.active,
.carousel-nav li:hover {
    background: white;
    box-shadow: 0 0 10px #a2a2a2;
}

.dropdown-item {
    color: white;
    padding: 10px;
    transition: color 0.2s ease;
}

#seealso {
    padding-top: 40px;
}

.row-column {
    flex-direction: column;
    display: flex;
    flex: 1;
    padding: 0 15px;
}

.top-row {
    display: flex;
}

.page .top-row:nth-child(3) {
    margin-top: 50px;
}

.top-title {
    text-align: center;
    font-size: 25pt;
    padding: 10px 0;
    color: #e3ffde;
    user-select: none;
    font-weight: bold;
}

.top-row .row-column:nth-child(2) .top-title {
    color: #ffd3d3;
}

.top-title i {
    margin: 0 10px;
    color: #caffbf;
    font-size: 40pt;
}

.top-row .row-column:nth-child(2) .top-title i {
    color: #e67070;
}

.categories {
    border-bottom: 1px solid #2b31516e;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    user-select: none;
}

.categories span {
    border: 1px solid #444b716e;
    padding: 7px 15px;
    margin: 0 15px 0 0;
    border-radius: 100px;
}

.categories span:not(.catloading) {
    cursor: pointer;
}

.categories span:not(.catloading):not(.active):hover {
    background: #1d2137;
}

.categories span.active {
    background: #444b716e;
}

.categories span i {
    margin-right: 7px;
}

.categories a {
    color: white;
    text-decoration: none;
}

.stock.over {
    background: #323853;
}

.dragrow,
.dragrow .stock-widget {
    position: relative;
}

.dragrow .stock {
    position: absolute;
    left: 0;
    width: calc(100% - 20px);
    cursor: grab;
}

#dragparent {
    margin: 5px 0;
}

.accountpage {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.userbox {
    background: #1b1e31;
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 30px #101320;
    border-radius: 30px;
    min-width: 400px;
    border: 5px solid #1d2031;
}

.userbox img {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    margin: 5px 0;
}

#boxname {
    font-size: 50pt;
    padding: 10px 0 0;
    font-weight: bold;
}

#boxemail {
    padding-bottom: 10px;
    font-size: 14pt;
    letter-spacing: 1.1px;
}

#boxdate {
    font-size: 14pt;
    padding-bottom: 50px;
}

#notice {
    padding: 20px 25px;
    border-left: 5px solid #c8935b;
    background: #1b1e31;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13pt;
}

#notice>i {
    padding-right: 20px;
    font-size: 25pt;
}

#notice p {
    margin: 0;
}

#notice h3 {
    font-size: 20pt;
}

.content-middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.content-middle>i {
    font-size: 5em;
    color: #515460;
}

.content-middle #content-error-text::after {
    font-size: 2.2em;
    color: #9699a4;
    content: "Oops.. Something went wrong (404)";
}

.stock-saved {
    font-size: 20pt;
    cursor: pointer;
    border: 1px solid #3d4364;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    padding: 5px;
    color: #bcc3e8;
    transition: background 0.1s linear;
}

.stock-saved:hover,
.stock-saved.active {
    background: #3d4364;
}


.loading-large,
.loading-sug {
    display: flex;
    width: 250px;
    height: 250px;
    margin: auto;
    text-align: center;
}

.loading-large:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
    border: 10px solid #415974;
    border-color: #415974 transparent #415974 transparent;
    animation: lds-dual-ring 0.8s linear infinite;
}

.loading-sug::after {
    content: " ";
    display: block;
    height: 70px;
    width: 70px;
    margin: 10px auto;
    border-radius: 50%;
    border: 7px solid #415974;
    border-color: #415974 transparent #415974 transparent;
    animation: lds-dual-ring 0.8s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.catloading {
    width: 150px;
    display: inline-block;
    height: 30px;
    animation: cat-animation 0.7s infinite;
}

@keyframes cat-animation {
    0% {
        border: 1px solid #444b716e;
    }

    50% {
        border: 1px solid #8d94bd6e;
    }

    100% {
        border: 1px solid #444b716e;
    }
}


::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.562);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.562);
}



#tooltip {
    background: rgba(255, 255, 255, 0.795);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.705);
    color: black;
    opacity: 1;
    text-align: center;
    backdrop-filter: blur(2px);
    z-index: 500;
}

.tooltip-arrow {
    background: rgba(255, 255, 255, 0.116);
}

.row#nomargin {
    margin: 0;
}

#guest-comment {
    padding: 7px 0 10px;
    font-size: 10pt;
    color: #b7b7b7;
    cursor: default;
    user-select: none;
}

#guest-comment span {
    color: #8fc0ff;
    text-decoration: none;
    cursor: pointer;
}

#guest-comment span:hover {
    text-decoration: underline;
}

#titlerecent {
    padding: 15px 0 10px 15px;
    font-weight: bold;
}

.remove-item {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    font-size: 10pt;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #7681aa00;
    transition: background 0.1s linear;
    transition: border 0.1s linear;
}

.remove-item:hover {
    border: 1px solid #7681aa;
}

.remove-item:active {
    background: #7681aa5e;
}

#norecent {
    padding: 20px;
    user-select: none;
}

.dropdown-item i {
    padding-right: 10px;
}

.stock-name {
    flex: 1;
    display: flex;
    align-items: center;
}

.article-image {
    height: 200px;
    border-radius: 30px;
    margin-bottom: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.footer {
    background: #0c0e18;
    padding: 20px;
    text-align: left;
    font-size: 10pt;
    border-top: 1px solid #2b3151;
}

.footer h3 {
    font-size: 14pt;
    user-select: none;
}

.credits {
    display: flex;
    margin: 15px 0;
    flex: 1;
}

.credit {
    padding: 0 50px;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #0f1220;
    justify-content: center;
}

.credit img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-bottom: 15px;
    user-select: none;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.footer-section {
    display: flex;
    width: 80%;
    margin: auto;
}

.nav-menu ul {
    padding: 0;
}

.nav-menu ul:nth-child(2) {
    margin-left: 40px;
}

.nav-menu ul:nth-child(3) {
    margin-left: 40px;
    border-left: 1px solid #141726;
    padding-left: 10px;
}

.nav-menu a,
.credit a {
    color: white;
    text-decoration: none;
}

.nav-menu a:hover,
.credit a:hover {
    text-decoration: underline;
}

.nav-menu ul li {
    list-style: none;
    text-align: left;
    margin: 12px;
}

.nav-menu ul li i {
    margin-right: 5px;
}

.footer-nav {
    flex: 1;
}

.footer-credits {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    background: url(../public/images/favicon.ico) no-repeat;
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    margin-left: 20px;
}

.footer-credits span {
    font-size: 8pt;
    user-select: none;
    font-family: sans-serif;
}

.footer-credits h3 {
    margin: 0;
}

.button-row .categories {
    padding-bottom: 10px;
    padding-top: 20px;
    border: none;
    display: flex;
    justify-content: space-around;
}

.article-content {
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.pie-graph {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    position: relative;
    clip-path: circle(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14pt;
    user-select: none;
}

.pie-graph-bar {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: conic-gradient(#323853 0 calc(var(--ratio) * 360deg), #222842 calc(var(--ratio) * 360deg) 360deg);
    z-index: -2;
    opacity: 0.8;
}

.pie-graph:hover .pie-graph-bar {
    opacity: 1;
}

.pie-graph::after {
    content: '';
    position: absolute;
    width: 125px;
    height: 125px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #16192a;
    border-radius: 50%;
    z-index: -1;
}

.pie-graph span {
    font-size: 18pt;
}

.saved-dashboard {
    display: flex;
    margin: 30px 0 60px;
}

.saved-dashboard .dashboard-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.legend {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 500;
    user-select: none;
    display: none;
}

.pie-graph:hover+.legend {
    display: block;
}

.legend table {
    border-radius: 10px;
    box-shadow: 0 0 50px #000000a1;
}

.legend table td {
    padding: 7px 15px;
    font-size: 10pt;
    font-family: sans-serif;
    border-bottom: 1px dotted #16192a61;
}

.legend table tr td:nth-child(1) {
    text-align: center;
    background: #16192a;
}

.legend table tr td:nth-child(2) {
    background: #363d5c;
    display: flex;
}

.legend table td:nth-child(2) div {
    font-size: 8pt;
    width: 20px;
    height: 20px;
    background: #292f48;
    text-align: center;
    margin-left: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.legend table tr td:nth-child(2) span {
    flex: 1;
}

.legend-dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #043d9a;
    border-radius: 100%;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.categories span b {
    padding-left: 15px;
}

.stock-block {
    display: flex;
    align-items: center;
}

.discussion-block {
    flex: 1;
}

.feedback-block {
    padding: 0 60px 0 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
}

.feedback-block .dashboard-item {
    margin: 10px auto 20px;
}

.feedback-buttons i {
    font-size: 30pt;
    margin: 0 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.1s linear;
}

.feedback-buttons i:hover {
    color: white;
}

.feedback-buttons i:active {
    color: rgba(255, 255, 255, 0.8);
}

#voted {
    font-size: 10pt;
    color: #b9b9b9;
    user-select: none;
}

.feedback-block h3 {
    font-size: 16pt;
}

.discussion-block h1 {
    padding: 0;
}

.stock-block {
    margin-top: 50px;
}

.feedback-block .loading {
    margin: auto;
}

.top-filters {
    display: flex;
}

.filter-container {
    position: relative;
    margin: 0 0 0 15px;
}

.filter-container .cat-menu {
    right: 0;
    left: 0;
}

.cat-menu span {
    padding-right: 10px;
}

.cat-menu label {
    padding: 15px 25px;
    width: 100%;
    user-select: none;
}

.cat-menu input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.custom-option {
    position: relative;
    cursor: pointer;
}

.custom-option span:not(.checkmark) {
    margin-left: 10px;
  }

.custom-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 10px;
    height: 15px;
    width: 15px;
    background-color: none;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-option input:checked~.checkmark:after {
    display: block;
}

.custom-option .checkmark:after {
    left: 9px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 6px;
}





























.datepicker {
    background: #0a0c1a;
    box-shadow: 0 15px 30px black;
    border: none;
}

.datepicker .react-datepicker__header {
    background: #0a0c1a;
    border-bottom: 1px solid #1f2135;
}

.datepicker .react-datepicker__day,
.datepicker .react-datepicker__time-name {
    color: white;
}

.datepicker .react-datepicker__current-month,
.datepicker .react-datepicker-time__header,
.datepicker .react-datepicker-year-header,
.datepicker .react-datepicker__day-name {
    color: #c5c5c5;
}

.datepicker .react-datepicker__year-read-view--down-arrow,
.datepicker .react-datepicker__month-read-view--down-arrow,
.datepicker .react-datepicker__month-year-read-view--down-arrow,
.datepicker .react-datepicker__navigation-icon::before {
    border-color: #b3cfff;
}


.datepicker .react-datepicker__today-button {
    background: none;
    color: #b3cfff;
    border: none;
    padding: 10px 0;
    border-radius: 0.3rem;
}

.datepicker .react-datepicker__today-button:hover {
    background: #0e1122;
}

.datepicker .react-datepicker__day:hover,
.datepicker .react-datepicker__month-text:hover,
.datepicker .react-datepicker__quarter-text:hover,
.datepicker .react-datepicker__year-text:hover,
.datepicker .react-datepicker__day--selected,
.datepicker .react-datepicker__day--keyboard-selected,
.datepicker .react-datepicker__month-text--keyboard-selected,
.datepicker .react-datepicker__quarter-text--keyboard-selected,
.datepicker .react-datepicker__year-text--keyboard-selected {
    background: #242944;
    color: #b3cfff;
    outline: none;
    border: none;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::after {
    border-bottom-color: #0a0c1a;
}

.react-datepicker__navigation-icon::before {
    top: 12px;
}