@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    font-family: aeonik;
    src: url(../public/fonts/aeonik.otf);
}

@font-face {
    font-family: aeonik;
    src: url(../public/fonts/aeonik-bold.otf);
    font-weight: bold;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'aeonik', sans-serif;
    background: #101322;
    color: white;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.logo {
    background: url(../public/images/logo.png) no-repeat;
    width: 220px;
    height: 70px;
    font-size: 28pt;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.logo i {
    color: #a6c8ff;
    padding-right: 7px;
}

.search {
    flex: 1;
    display: flex;
    padding: 0 50px;
}

.search input[type=text] {
    background: none;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    outline: none;
    color: #b6bddf;
    padding: 10px 20px;
    font-size: 15pt;
    flex: 1;
    background: #1b2037;
    border-radius: 7px;
    box-shadow: 0 2px 2px #0d0f1a;

}

.search input[type=text]:focus,
.searchinput.active {
    background: #363e5ecf !important;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.search input[type=text]::placeholder {
    color: #5f6688;
    opacity: 1;
}


.search button {
    background: none;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    margin: 0 10px;
}

.userheader img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 7px;
    outline: 5px solid #0a0c1a;
    transition: outline 0.1s linear;
    position: relative;
    cursor: pointer;
}

.userheader h2 {
    font-weight: bold;
    font-size: 14pt;
    padding: 10px 0 0 10px;
}

.userheader img:hover {
    outline: 10px solid #0a0c1a;
}

.userheader img:active {
    outline: 0px solid #0a0c1a;
}

.menu {
    width: 150px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
}

.menu li:active {
    opacity: 0.9;
}

.menu li {
    list-style: none;
    color: #9a9da2;
    width: 100px;
    text-align: center;
    margin: 50px auto;
    padding: 5px 0 10px;
    cursor: pointer;
    border: 1px solid #101322;
    transition: all 0.1s linear;
    border-radius: 20px;
}

.menu li.active {
    background: linear-gradient(#1063e3, #4789ee);
    border: 1px solid #1063e3;
    color: white;
    box-shadow: 0 5px 7px #183f84;
}

.menu li:not(.active):hover {
    border: 1px solid #343c60;
    color: white;
}

.menu li i {
    font-size: 25pt;
}

.menu li div {
    font-size: 9pt;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.main {
    display: flex;
    flex: 1;
}

.page {
    background: #16192a;
    flex: 1;
    padding: 30px 40px;
    border: 1px solid #2b3151;
    border-bottom: none;
    border-right: none;
    width: calc(100% - 230px);
}

.page.withmenu {
    border-radius: 40px 0 0 0;
}

.page h1 {
    padding: 20px 0 0;
}

.article,
.stock,
.detailblock {
    display: flex;
    background: #222842;
    border-radius: 10px;
    padding: 25px;
    height: 100%;
    width: 100%;
}

.top-row .row-column:nth-child(1) .stock.top-stock {
    background: linear-gradient(45deg, #222842, #caffbf);
}

.top-row .row-column:nth-child(2) .stock.top-stock {
    background: linear-gradient(45deg, #222842, #e67070);
}

.stock.top-stock .stock-price {
    text-shadow: 0 0 10px #737373;
    color: #fff;
}

.suggestion-row {
    display: flex;
    padding: 15px 20px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: background 0.1s linear;
}

.suggestion-row:hover,
.suggestion-row.active {
    background: #424a686e;
    border-left: 3px solid #495273;
}

.article {
    background: #1b1e31;
}

.detailblock {
    flex-direction: column;
}

.stock {
    position: relative;
    border-bottom: 5px solid #1b2034;
    cursor: pointer;
    transition: border 0.1s linear;
}

.stock:hover {
    border-bottom: 5px solid #323853;
}

.article {
    flex-direction: column;
}

.article h2 {
    font-size: 18pt;
    color: white;
    font-weight: bold;
}

.page-button,
.userheader button,
.userbox button {
    background: #1063e3;
    border: none;
    outline: none;
    padding: 7px 25px;
    color: white;
    border-radius: 10px;
    font-size: 15pt;
    float: right;
    transition: background-color 0.1s linear;
}

.userbox button {
    float: none;
}

.userbox button i {
    padding-right: 5px;
}

.userbox button:hover {
    background: #3b7ddf;
}

.page-button:hover {
    background: #3b7ddf;
}

.userheader button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #1a1f33;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
    background: transparent;
    color: #b3cfff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.userheader button:hover {
    background: #1a1f33;
    box-shadow: 0 0 20px 5px #464f7996;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.userheader button:hover::before {
    -webkit-animation: sh02 0.3s 0s linear;
    -moz-animation: sh02 0.3s 0s linear;
    animation: sh02 0.3s 0s linear;
}

.userheader button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #8e9bd891;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.userheader button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}


.article button {
    border: none;
    outline: none;
    font-size: 10pt;
    padding: 5px 5px 5px 0;
    color: #9fbdf5;
    background: none;
}

.article button:hover {
    text-decoration: underline;
}

.article button i {
    margin-left: 5px;
}

.article span {
    font-size: 10pt;
    color: #d5d9f2;
}

.article p {
    margin-top: 10px;
    flex: 1;
}

.stock-box .stock-info {
    padding-left: 50px;
}

.stock-info span {
    padding: 2px 8px;
    font-size: 10pt;
    border-radius: 3px;
    margin-right: 3px;
}

.stock-info.negative span {
    background: #ea001b82;
}

.stock-info.positive span {
    background: #00ea254d;
}

.stock-data {
    display: flex;
    flex: 1;
    align-items: center;
}

.stock-title {
    flex: 1;
}

.stock-img {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stock-img img {
    width: 64px;
    user-select: none;
}

.suggestion-row img {
    width: 32px;
}

.suggestion-row h2 {
    font-size: 1.5rem;
    margin: 0;
}

.suggestion-row .stock-price {
    font-size: 15pt;
}

.stock-price {
    color: #19e7fe;
    font-size: 20pt;
    font-weight: bold;
}

.stock-box .stock-price {
    padding-left: 50px;
}

.stock-option {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #ffffff00;
}

.stock-option.wait {
    cursor: wait;
}

.stock-option:hover {
    border: 1px solid #323853;
}

.stock-option:active {
    background: #323853;
}

.page .row {
    margin: 25px 0;
}

.expand-button {
    background: #10132282;
    border: none;
    outline: none;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    margin: auto;
    display: inline-block;
    text-decoration: none;
    transition: background 0.1s linear;
}

.expand-button:hover {
    background: #101322;
    text-decoration: none;
    color: white;
}

.expand-button:active {
    background: #0e1120;
}

.button-row {
    text-align: center;
    margin-top: 15px;
}

#graph {
    background: #232740;
    width: 100%;
    min-height: 300px;
    padding: 15px 0 5px;
    position: relative;
    user-select: none;
}

#stockpage-title {
    display: flex;
    align-items: center;
    padding: 15px 0 30px;
}

#stockpage-title h1 {
    padding: 0 25px 0 0;
}

.graph-menu {
    text-align: right;
    display: flex;
}

.graph-menu ul {
    display: inline;
    cursor: default;
}

.graph-menu ul li {
    display: inline;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 10pt;
    border-bottom: 1px solid #ffffff00;
    transition: border 0.1s linear;
    margin: 0 2px;
}

.graph-menu ul li.active,
.graph-menu ul li:hover {
    border-bottom: 1px solid white;
}

#detailsrow {
    margin: 50px -15px 10px;
}

.detailblock#stockdetail {
    background: none;
    padding: 5px 15px 8px 0;
}

.detailblock table {
    width: 100%;
    height: 100%;
    margin: 15px 0;
}

.detailblock table tr td {
    text-align: center;
    background: #242a46;
}

.detailblock table thead tr td {
    padding: 5px;
}

.detailblock table tbody tr td {
    padding: 10px;
}

.detailblock table thead tr td {
    background: #363d5c;
    font-size: 14pt;
    box-shadow: 0px 55px 60px black;
}



.comments {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #1c2137;
    padding: 0 10px;
    border-radius: 10px;
    margin-top: 10px;
    scrollbar-color: rebeccapurple green;
}

.loadmore {
    background: none;
    border: none;
    outline: none;
    color: #c6e7ff;
    font-size: 10pt;
    padding: 10px;
}

.loadmore:hover {
    text-decoration: underline;
}

.hide {
    display: none !important;
}

.comment {
    padding: 10px 15px;
    background: #1d2031ab;
    margin: 10px 0;
}

.commenthead {
    display: flex;
    align-items: center;
    cursor: default;
}

.commenthead span {
    font-size: 8pt;
    color: #cecece;
    letter-spacing: 0.4px;
    flex: 1;
}

.commenthead b {
    font-size: 12pt;
}

.comment p {
    margin: 0;
}

.new-comment {
    padding: 10px 0;
    width: 500px;
    display: flex;
}

.new-comment button {
    background: none;
    border: none;
    outline: none;
    color: white;
    margin-left: 10px;
    width: 24px;
}

.new-comment button:active {
    color: #d8d8d8;
}

.new-comment input[type=text] {
    background: white;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    flex: 1;
    border-bottom: 2px solid #ffffff00;
    transition: border 0.1s linear;
}

.new-comment input[type=text]:focus {
    border-bottom: 2px solid #32385382;
}

.stock-widget {
    margin: 10px 0;
    transition: margin 0.5s ease-in-out;
    height: 130px;
}

.frame2 {
    margin-left: -100%;
}

.frame3 {
    margin-left: -200%;
}

.frame4 {
    margin-left: -300%;
}

.stock-widget a,
.header a {
    color: white;
    text-decoration: none;
}

.point,
#guidepoint {
    width: 10px;
    height: 10px;
    background: #ffffff45;
    border-radius: 100%;
    transition: all 0.1s linear;
    border: 1px solid #ffffff45;
}

#guidepoint {
    margin-right: 5px;
}

.raise .point,
#guidepoint.raise {
    background: #c1ff3a45;
}

.fall .point,
#guidepoint.fall {
    background: #ff86867d;
}

.point-space:hover .point {
    width: 18px;
    height: 18px;
    margin-left: -5px;
    margin-top: -5px;
}

.point-space {
    padding: 10px 15px;
    position: absolute;
    display: none;
}

.row.articles {
    margin: 10px 0 25px;
}

.articles .col-lg-4 {
    margin: 10px 0;
}

.graph-hint {
    flex: 1;
    font-size: 10pt;
    display: flex;
    align-items: center;
    user-select: none;
}

.graph-hint .hint {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.graph-hint span {
    padding-right: 10px;
}

#actual-line,
#predicted-line {
    width: 30px;
    height: 2px;
    margin: 0 5px;
}

#predicted-line {
    background: #fff6d3;
}

#actual-line {
    background: #53c4ee;
}

.search-suggestion {
    position: absolute;
    background: #363e5ecf;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 100%;
    top: 45px;
    border-radius: 0 0 7px 7px;
    box-shadow: 5px 60px 50px #1c1f33;
    z-index: 100;
    overflow: hidden;
}

.search-container {
    position: relative;
    display: flex;
    flex: 1;
}

.suggestions-showmore {
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    transition: background 0.1s linear;
}

.suggestions-showmore.active,
.suggestions-showmore:hover {
    background: #424a686e;
}

#sug-loading {
    height: 3px;
    background: linear-gradient(90deg, #333b59, #5d678a);
    padding: 0;
    width: 50%;
    animation: spin-loading 0.8s ease infinite;
}

@keyframes spin-loading {
    from {
        margin-left: -50%;
    }

    to {
        margin-left: 100%;
    }
}

#search-form {
    width: 100%;
    display: flex;
}

.stocks-title {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

.stocks-title h2 {
    font-weight: bold;
    font-size: 30pt;
}

.stocks-title .navbar {
    background-color: #16192a !important;
    padding: 0;
    margin: 0 0 0 15px;
    border-radius: 10px;
    border: 1px solid #444b716e;
    user-select: none;
}

.stocks-title .navbar a {
    user-select: none;
}

.stock-title .container {
    padding: 0 15px;
}

.stocks-title .navbar:hover {
    background: #1d2137 !important;
}

#basic-nav-dropdown {
    color: white !important;
}

/*
.stock-title .container {
    padding: 0;
    background: #16192a;
    border: 1px solid #2b31516e;
    border-radius: 10px;
}
*/

.stock-title .nav-link {
    color: white !important;
}

.modal-bg {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.modal-box {
    position: fixed;
    top: 15%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 501;
    width: 80%;
    background: white;
    padding: 25px;
    color: black;
    box-shadow: 0 0 30px black;
    border-radius: 20px;
}

.userheader i {
    padding-right: 10px;
    color: #b3cfff;
}

.profile-menu,
.dropdown-menu,
.widget-menu {
    background: #0a0c1a;
    position: absolute;
    padding: 10px 15px;
    margin-top: 10px;
    right: 30px;
    border-radius: 10px;
    box-shadow: 0 15px 30px black;
    animation: show-menu 0.25s ease;
    animation-fill-mode: forwards;
    z-index: 101;
}

.profile-menu {
    width: 200px;
}

.widget-menu {
    right: 10px;
}

.dropdown-menu {
    width: 300px;
}

.profile-menu ul,
.widget-menu ul {
    margin: 0;
    padding: 0;
}


.profile-menu ul li,
.widget-menu ul li {
    list-style: none;
    text-align: left;
    padding: 15px;
    color: white;
    transition: color 0.2s ease;
    cursor: pointer;
}

.profile-menu ul li:hover,
.widget-menu ul li:hover,
.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active {
    color: #b3cfff;
    background: none;
}

.profile-menu ul li i,
.widget-menu ul li i {
    margin-right: 5px;
}

@keyframes show-menu {
    from {
        margin-top: 20px;
        opacity: 0;
    }

    to {
        margin-top: 10px;
        opacity: 1;
    }
}

.loading {
    background: url(../public/images/loading.gif);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.comment-form {
    display: flex;
    flex: 1;
}

.tagname {
    font-size: 8pt;
    background: #0e101a3d;
    margin: 0 10px 0 5px;
    text-align: center;
    border-radius: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
    padding: 2px 7px;
}

.delete-comment {
    font-size: 12pt;
    cursor: pointer;
    color: #ffffffc2;
}

.delete-comment:active {
    color: #ffffff80;
}

.commenthead .loading {
    margin: 0;
}

.carousel {
    width: 100%;
    text-align: right;
}

.carousel .row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: left;
    margin: 0;
}

.carousel .row::-webkit-scrollbar {
    display: none;
}

.arrow-left,
.arrow-right {
    background: #ffffffb3;
    width: 25px;
    height: 25px;
    color: black;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.1s linear;
    font-size: 10pt;
}


.arrow-left:hover,
.arrow-right:hover {
    background: #ffffffe5;
}

.control {
    display: flex;
    justify-content: right;
    width: 150px;
    align-items: center;
    float: right;
    margin-bottom: 10px;
}

.progress-container {
    width: 100%;
    background: #ffffff14;
    height: 6px;
    margin: 0 10px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #333;
    flex: 1;
}

.carousel-progress {
    background: #ffffffb3;
    width: 100%;
    height: 100%;
}

.startprogress {
    animation: progress-animation 3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}


@keyframes progress-animation {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.carousel-nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.carousel-nav li {
    list-style: none;
    background: #ffffffb3;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.carousel-nav li.active,
.carousel-nav li:hover {
    background: white;
    box-shadow: 0 0 10px #a2a2a2;
}

.dropdown-item {
    color: white;
    padding: 10px;
    transition: color 0.2s ease;
}

#seealso {
    padding-top: 40px;
}

.row-column {
    flex-direction: column;
    display: flex;
    flex: 1;
    padding: 0 15px;
}

.top-row {
    display: flex;
}

.page .top-row:nth-child(3) {
    margin-top: 50px;
}

.top-title {
    text-align: center;
    font-size: 25pt;
    padding: 10px 0;
    color: #e3ffde;
    user-select: none;
    font-weight: bold;
}

.top-row .row-column:nth-child(2) .top-title {
    color: #ffd3d3;
}

.top-title i {
    margin: 0 10px;
    color: #caffbf;
    font-size: 40pt;
}

.top-row .row-column:nth-child(2) .top-title i {
    color: #e67070;
}

.categories {
    border-bottom: 1px solid #2b31516e;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    user-select: none;
}

.categories span {
    border: 1px solid #444b716e;
    padding: 7px 15px;
    margin: 0 15px 0 0;
    border-radius: 100px;
}

.categories span:not(.catloading) {
    cursor: pointer;
} 

.categories span:not(.catloading):hover {
    background: #1d2137;
}

.categories span.active {
    background: #444b716e;
}

.categories span i {
    margin-right: 7px;
}

.stock.over {
    background: #323853;
}

.dragrow,
.dragrow .stock-widget {
    position: relative;
}

.dragrow .stock {
    position: absolute;
    left: 0;
    width: calc(100% - 20px);
    cursor: grab;
}

#dragparent {
    margin: 5px 0;
}

.accountpage {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.userbox {
    background: #1b1e31;
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 30px #101320;
    border-radius: 30px;
    min-width: 400px;
    border: 5px solid #1d2031;
}

.userbox img {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    margin: 5px 0;
}

#boxname {
    font-size: 50pt;
    padding: 10px 0 0;
    font-weight: bold;
}

#boxemail {
    padding-bottom: 10px;
    font-size: 14pt;
    letter-spacing: 1.1px;
}

#boxdate {
    font-size: 14pt;
    padding-bottom: 50px;
}

#notice {
    padding: 20px 25px;
    border-left: 5px solid #c8935b;
    background: #1b1e31;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13pt;
}

#notice>i {
    padding-right: 20px;
    font-size: 25pt;
}

#notice p {
    margin: 0;
}

#notice h3 {
    font-size: 20pt;
}

.content-middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.content-middle>i {
    font-size: 5em;
    color: #515460;
}

.content-middle #content-error-text::after {
    font-size: 2.2em;
    color: #9699a4;
    content: "Oops.. Something went wrong (404)";
}

.stock-saved {
    font-size: 25pt;
    cursor: pointer;
}


.loading-large,
.loading-sug {
    display: flex;
    width: 250px;
    height: 250px;
    margin: auto;
    text-align: center;
}

.loading-large:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
    border: 10px solid #415974;
    border-color: #415974 transparent #415974 transparent;
    animation: lds-dual-ring 0.8s linear infinite;
}

.loading-sug::after {
    content: " ";
    display: block;
    height: 70px;
    width: 70px;
    margin: 10px auto;
    border-radius: 50%;
    border: 7px solid #415974;
    border-color: #415974 transparent #415974 transparent;
    animation: lds-dual-ring 0.8s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.catloading {
    width: 150px;
    display: inline-block;
    height: 30px;
    animation: cat-animation 0.7s infinite;
}

@keyframes cat-animation {
    0% {
        border: 1px solid #444b716e;
    }

    50% {
        border: 1px solid #8d94bd6e;
    }

    100% {
        border: 1px solid #444b716e;
    }
}


::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.562); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.562); 
  }